{% include "header.html" %}


<div class="about ">
    <h1 class="about_h1 ">About me</h1>
    <p class="about_p ">Hi, I’m Umid Raxmatullayev, a Data Engineer with a passion for transforming raw data into meaningful insights. I
        enjoy working with data pipelines, databases, and analytics tools to build solutions that help businesses make
        smarter decisions.My journey started with learning Python and web development, and it grew into a strong interest in data
        engineering. Now I’m focused on mastering areas like data modeling, ETL processes, and cloud technologies to
        design efficient, scalable systems.Beyond coding, I’m motivated by problem-solving, continuous learning, and finding creative ways to use data to
        add value.</p>
</div>


{% include "footer.html" %}