{%include "header.html"%}
<div class="my_skills row g-4 py-5 row-cols-1 row-cols-lg-3 ">
    <div class="feature col">
         <div
            class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            <img src="static/images/storage-data-icon-symbol-image-for-database-illustration-vector.jpg"
                alt="Icon" width="32" height="32">
        </div>
        <h3 class="fs-2 text-body-emphasis">Collect & Store Data</h3>
        <p>
        <ul>
            <li>Build pipelines to gather data fromdifferent sources (databases, APIs,logs).</li>
            <li>Save it in databases or data warehouses for later use.</li>
        </ul>
        </p>
    </div>
    <div class="feature col">
         <div
            class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            <img src="static/images/data-pipeline-icon-vector-image-can-be-used-data-science_120816-352762.jpg"
                alt="Icon" width="32" height="32">
        </div>
        <h3 class="fs-2 text-body-emphasis">Transform & Clean Data</h3>
        <p>
        <ul>
            <li>Make raw data usable: fix errors,remove duplicates, standardize formats.</li>
            <li>Prepare it so analysts and data scientists can work with it easily.</li>
        </ul>
        </p>
    </div>
    <div class="feature col">
        <div
            class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            <img src="static/images/data-storage-device-icon-on-black-background-vector-23850629.avif"
                alt="Icon" width="32" height="32">
        </div>
        <h3 class="fs-2 text-body-emphasis">Maintain & Optimize Pipelines</h3>
        <p>
        <ul>
            <li>Make sure data flows reliably and quickly.</li>
            <li>Monitor, debug, and improve systems sodata is always accurate and available.</li>
        </ul>
        </p>
    </div>
</div>

{%include "footer.html"%}